<app-page-layout pageTitle="Painel">
    <div class="top">
        <div class="counter" [ngStyle]="currentStyle">
            {{ treatNumber(currentNumber) }}
            <div [@valueAnimation]="currentNumber" class="increment-animation">
                {{ treatNumber(currentNumber - previousNumbers[0]) }}
            </div>
        </div>
        <div class="control">
            <mat-form-field>
                <mat-label>Offset</mat-label>
                <input matInput type="number" [(ngModel)]="offset" />
            </mat-form-field>
            <div class="date">
                {{ currentDate }}
            </div>
        </div>
    </div>
    <div class="previous-numbers">
        <div class="number header">
            Números anteriores
        </div>
        <div class="difference header">
            Diferença
        </div>
        <ng-template ngFor let-number [ngForOf]="previousNumbers" let-i="index">
            <div class="number">{{ treatNumber(number) }}</div>
            <div class="difference">{{ (previousNumbers[i + 1] && treatNumber(number - previousNumbers[i + 1])) || '' }}</div>
        </ng-template>
    </div>
</app-page-layout>
